<!doctype html>
<html>
	<head>
		<% include partials/header %>   
	</head>
<body>

	<% include partials/menu %>   

	<div id="content">

		<% if (user.login) { %>
			<% if (user.type == 'user') { %>
				<p>
					<strong>Nazwa użytkownika</strong>: <%= user.login %><br>
					<strong>Imię</strong>: <%= user.name %><br>
					<strong>Drugie imię</strong>: <%= user.secondname %><br>
					<strong>Nazwisko</strong>: <%= user.lastname %><br>
					<strong>Pesel</strong>: <%= user.pesel %><br>
					<strong>Data urodzenia</strong>: <%= user.dateofbirth %>
				</p>
			<% } %>
			<% if (user.type == 'doc') { %>
				<p>
					<strong>Nazwa użytkownika</strong>: <%= user.login %><br>
					<strong>Imię</strong>: <%= user.name %><br>
					<strong>Nazwisko</strong>: <%= user.lastname %><br>
				</p>
			<% } %>
		<% } %>
	</div>

	<% include partials/footer %>

</body>
</html>